<div class="overflow-x-auto">
    <table class="table">
      <tbody>
        <!-- row 1 -->
        
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/1.2/1.2 Worksheet 1 - Units, Data Storage & Compression.pdf" 
                target="_blank" 
                class="btn btn-primary"
                data-counter="j277_theory/1_2_data_representation/data_worksheet_1"
                data-element="1_2_data_sheet1_download_count">
                Data worksheet 1 <span id="1_2_data_sheet1_download_count">(0)</span>
              </a>
            </div>
          </th>
          <td>
            <a href="/files/worksheets/1.2/1.2 Worksheet 1 Answers - Units, Data Storage & Compression.pdf" 
              target="_blank" 
              class="btn btn-accent"
              data-counter="j277_theory/1_2_data_representation/data_worksheet_1_ans"
              data-element="1_2_data_sheet1Ans_download_count">
              Data worksheet 1 Ans <span id="1_2_data_sheet1Ans_download_count">(0)</span>
            </a>
          </td>
          
        </tr>

        <!-- row 2 -->
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/1.2/1.2 Worksheet 2 - Units, Data Storage & Compression.pdf" target="_blank" class="btn btn-primary" 
              onclick="incrementCounter('j277_theory/1_2_data_representation/data_worksheet_2', '1_2_data_sheet2_download_count')">
                Data worksheet 2 <span id="1_2_data_sheet1_download_count">(0)</span>
              </a>
            </div>
          </th>
          <td>
            <a href="/files/worksheets/1.2/1.2 Worksheet 2 Answers - Units, Data Storage & Compression.pdf" target="_blank" class="btn btn-accent" 
            onclick="incrementCounter('j277_theory/1_2_data_representation/data_worksheet_2_ans', '1_2_data_sheet2Ans_download_count')">
              Data worksheet 2 Ans <span id="1_2_data_sheet2Ans_download_count">(0)</span>
            </a>
          </td>
          
        </tr>

        <!-- row 3 -->
         <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/1.2/1.2 Worksheet 3 - Units, Data Storage & Compression.pdf" target="_blank" class="btn btn-primary" 
              onclick="incrementCounter('j277_theory/1_2_data_representation/data_worksheet_3', '1_2_data_sheet3_download_count')">
                Data worksheet 3 <span id="1_2_data_sheet3_download_count">(0)</span>
              </a>
            </div>
          </th>
          <td>
            <a href="/files/worksheets/1.2/1.2 Worksheet 3 Answers - Units, Data Storage & Compression.pdf" target="_blank" class="btn btn-accent" 
              onclick="incrementCounter('j277_theory/1_2_data_representation/data_worksheet_3_ans', '1_2_data_sheet3Ans_download_count')">
              Data worksheet 3 Ans <span id="1_2_data_sheet3Ans_download_count">(0)</span>
            </a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

