<div class="overflow-x-auto">
    <table class="table">
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/1.4/1.4 Codefez Security Worksheet 1.pdf" target="_blank" class="btn btn-primary" 
              onclick="incrementCounter('j277_theory/1_4_security/security_worksheet_1', '1_4_security_sheet1_download_count')">
                Security worksheet 1 <span id="1_4_security_sheet1_download_count">(0)</span>
              </a>
            </div>
          </th>
          <td>
            <a href="/files/worksheets/1.4/1.4 Codefez Security Worksheet 1 Answers.pdf" target="_blank" class="btn btn-accent" 
            onclick="incrementCounter('j277_theory/1_4_security/security_worksheet_1_ans', '1_4_security_sheet1Ans_download_count')">
              Security worksheet 1 Ans <span id="1_4_security_sheet1Ans_download_count">(0)</span>
            </a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
