<div class="overflow-x-auto">
    <table class="table">
      <tbody>
        <!-- row 1 -->
        
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/codefez - sql worksheet 1.pdf" target="_blank" class="btn btn-primary" 
                onclick="incrementCounter('j277_theory/2_2_programming_fundamentals/sql_worksheet_1', '2_2_sql_sheet1_download_count')">
                SQL worksheet 1 <span id="2_2_sql_sheet1_download_count">(0)</span>
              </a>
            </div>
          </th>
          <td>
            <a href="/files/codefez - sql worksheet 1 Ans.pdf" target="_blank" class="btn btn-accent" 
              onclick="incrementCounter('j277_theory/2_2_programming_fundamentals/sql_worksheet_1_ans', '2_2_sql_sheet1Ans_download_count')">
              SQL worksheet 1 Ans <span id="2_2_sql_sheet1Ans_download_count">(0)</span>
            </a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

