<div class="overflow-x-auto">
    <table class="table">
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 1.pdf" target="_blank" class="btn btn-primary" 
              onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_1', '2_4_logic_sheet1_download_count')">
                Logic worksheet 1 <span id="2_4_logic_sheet1_download_count">(0)</span>
              </a>
            </div>
          </th>
          <td>
            <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 1 Answers.pdf" target="_blank" class="btn btn-accent" 
              onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_1_ans', '2_4_logic_sheet1Ans_download_count')">
                Logic worksheet 1 Ans <span id="2_4_logic_sheet1Ans_download_count">(0)</span>
            </a>
          </td>
          
        </tr>
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 2.pdf" target="_blank" class="btn btn-primary" 
                onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_2', '2_4_logic_sheet2_download_count')">
                Logic worksheet 2 <span id="2_4_logic_sheet2_download_count">(0)</span>
              </a>
            </div>
          </th>
            <td>
            <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 2 Answers.pdf" target="_blank" class="btn btn-accent" 
              onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_2_ans', '2_4_logic_sheet2Ans_download_count')">
              Logic worksheet 2 Ans <span id="2_4_logic_sheet2Ans_download_count">(0)</span>
            </a>
        </tr>
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 3.pdf" target="_blank" class="btn btn-primary" 
                onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_3', '2_4_logic_sheet3_download_count')">
                Logic worksheet 3 <span id="2_4_logic_sheet3_download_count">(0)</span>
              </a>
            </div>
          </th>
            <td>
            <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 3 Answers.pdf" target="_blank" class="btn btn-accent" 
              onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_3_ans', '2_4_logic_sheet3Ans_download_count')">
                Logic worksheet 3 Ans <span id="2_4_logic_sheet3Ans_download_count">(0)</span>
            </a>
        </tr>
        <tr>
          <th>
            <div class="card-actions justify-end">
              <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 4.pdf" target="_blank" class="btn btn-primary" 
                onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_4', '2_4_logic_sheet4_download_count')">
                Logic worksheet 4 <span id="2_4_logic_sheet4_download_count">(0)</span>
              </a>
            </div>
          </th>
            <td>
            <a href="/files/worksheets/2.4/2.4 codefez - Logic Gates Worksheet 4 Answers.pdf" target="_blank" class="btn btn-accent" 
              onclick="incrementCounter('j277_theory/2_4_boolean_logic/logic_worksheet_4_ans', '2_4_logic_sheet4Ans_download_count')">
              Logic worksheet 4 Ans <span id="2_4_logic_sheet4Ans_download_count">(0)</span>
            </a>
        </tr>
      </tbody>
    </table>
  </div>
