
<dialog id="output1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello123")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output1_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output1_in', 'Hello123')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello 12 3")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output2_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output2_in', 'Hello 12 3')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello 123")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output3_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output3_in', 'Hello 123')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello", 123)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output4_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output4_in', 'Hello 123')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Code", "Fez", "is", "awesome")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output5_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output5_in', 'Code Fez is awesome')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="variables1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>name = "CodeFez"
print(name)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables1_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables1_in', 'CodeFez')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="variables2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>name = "CodeFez"
adjective = "Cool!"
print(name + " " + adjective)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables2_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables2_in', 'CodeFez Cool!')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="variables3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>name = "CodeFez"
num = "4"
string = "eva!"
print(name + " " + num + " " + string)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables3_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables3_in', 'CodeFez 4 eva!')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>const answers_variables4 = ['print(name + " " + str(num) + " " + string)', "print(name + ' ' + str(num) + ' ' + string)"];</script>

<dialog id="variables4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      The output line below needs correcting. Can you spot the error and fix it?
      <br>
      <pre><code>name = "CodeFez"
num = 4
string = "eva!"
print(name + " " + num + " " + string)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables4_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables4_in', answers_variables4)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
    const answers_variables5 = ['print(string + int(num) + num2 + name + string2)'];
</script>
<dialog id="variables5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      The output line below needs correcting. Can you spot the error and fix it?
      <br>
      <pre><code>name = "CodeFez"
num = 91
num2 = "1! "
string = "Somebody call "
string2 = " is too cool!"
print(string + int(num) + num2 + name + string2)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables5_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables5_in', answers_variables5)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_if_1 = ['3 x 5 = 15'];
</script>
<dialog id="ps_if_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">If Statements</h3>
    <p class="py-4">
      What will be the result of the output from this code?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>age = 15
if age > 18
   print("You are an adult.")
else
   print("You are not an adult.")
endif
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_if_1_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_if_1_in', answers_ps_if_1)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_if_2 = ['else if score >= 50', 'else if score > 49'];
</script>
<dialog id="ps_if_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Else If Statements</h3>
    <p class="py-4">
      Line 6 is missing from the pseudocode below. Can you spot the error and fix it? Users must achieve a score of 50 and above to achieve a C. <br>
      Write the missing line in the input box below and click "Check Answer" to see if you are correct!
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>score = 15
if score >= 80
   print("You got an A!")
else if score >= 70
   print("You got a B!")

   print("You got a C!")
else
   print("You failed the test.")
endif
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_if_2_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_if_2_in', answers_ps_if_2)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_if_3 = [
    'else if alarm_armed == True and (door_open == True or window_open == True)', 
    'else if alarm_armed == True and (window_open == True or door_open == True)',
    'else if (window_open == True or door_open == True) and alarm_armed == True',
    'else if (door_open == True or window_open == True) and alarm_armed == True'
    ];
</script>
<dialog id="ps_if_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Else If Statements & Boolean Operators</h3>
    <p class="py-4">
      The solution below compares more than one condition. Can you add the missing line? <br>
      Write the missing line in the input box below and click "Check Answer" to see if you are correct!
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>alarm_armed = True
door_open = False
window_open = False
if alarm_armed == True and (door_open == False or window_open == False)
   print("Alarm is not triggered!")
???
   print("Alarm is triggered!")  
else
   print("Alarm is not armed!") 
endif
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_if_3_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_if_3_in', answers_ps_if_3)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<dialog id="ps_if_4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Else If Statements & Boolean Operators</h3>
    <p class="py-4">
      The solution below compares more than one condition. Can you workout what the output is?
      <br>
      <b>Scenario:</b> A high-security vault uses four inputs to determine its status. You must determine if the variable vault_breach evaluates to True or False based on the logic below. <br>
      The Inputs:
      <ul class="list-disc px-2">
        <li><code>authenticated = True</code> (The correct PIN was entered)</li>
        <li><code>motion_detected = True</code> (Movement inside the vault)</li>
        <li><code>door_locked = False</code> (The physical bolt is retracted)</li>
        <li><code>business_hours = False</code> (It is currently 2:00 AM)</li>
      </ul>

      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>if authenticated and business_hours:
    vault_breach = False
else:
    if not door_locked:
        if motion_detected or not authenticated:
            vault_breach = True
        else:
            vault_breach = False
    else:
        vault_breach = False
    endif
endif
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_if_4_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_if_4_in', 'True')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<dialog id="ps_if_5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Complex Logic: Smart Irrigation</h3>
    <p class="py-4">
      The system needs to decide if <code>sprinklers_on</code> is <b>True</b> or <b>False</b>. Note the use of the <code>not</code> operator and the order of operations.
      <br><br>
      <b>Inputs:</b>
      <ul class="list-disc px-6">
        <li><code>moisture_level = 15</code></li>
        <li><code>rain_forecasted = True</code></li>
        <li><code>manual_override = False</code></li>
        <li><code>water_restricted = False</code></li>
      </ul>

      <div class="alert bg-base-300 border-none mt-4">
        <div>
          <span class="text-white"><pre><code>if water_restricted:
    sprinklers_on = False
else if manual_override:
    sprinklers_on = True
else:
    if moisture_level < 20 and not rain_forecasted:
        sprinklers_on = True
    else:
        sprinklers_on = False</code></pre></span>
    endif
endif
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_if_5_in" placeholder="True or False?">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_if_5_in', 'False')">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_for_loops_1 = ['for i=0 to 2', 'for i=1 to 3'];
</script>
<dialog id="ps_for_loops_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">For Loops</h3>
    <p class="py-4">
      One of the lines line below needs correcting. Can you spot the error and fix it?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>print("The wheels on the bus go")
for i=0 to 5
  print("round and round")
next i
</code></pre>
        </div>
      </div>
      <div class="alert bg-neutral border-none">
            <div>
              <span class="text-white">The wheels on the bus go <br>
round and round <br>
round and round <br>
round and round
      </span>
      </div>
    </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_for_loops_1_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_for_loops_1_in', answers_ps_for_loops_1)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
  const answers_ps_for_loops_2 = ['for i=0 to 1', 'for i=1 to 2'];
</script>
<dialog id="ps_for_loops_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">For Loops</h3>
    <p class="py-4">
      One of the lines line below needs correcting. Can you spot the error and fix it?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>for i=1 to i=4
  print("The wheels on the bus go")
  for i=0 to 2
    print("round and round")
  next i
next i
</code></pre>
        </div>
      </div>
      <div class="alert bg-neutral border-none">
            <div>
              <span class="text-white">The wheels on the bus go <br>
round and round <br>
round and round <br>
round and round <br>
The wheels on the bus go <br>
round and round <br>
round and round <br>
round and round
      </span>
      </div>
    </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_for_loops_2_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_for_loops_2_in', answers_ps_for_loops_2)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
  const answers_ps_for_loops_3 = ['3 x 5 = 15'];
</script>
<dialog id="ps_for_loops_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">For Loops</h3>
    <p class="py-4">
      What will be the result of the last output from this code?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>for i=1 to i=3
  print(i + str(" x 5 = ") + i*5)
next i
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_for_loops_3_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_for_loops_3_in', answers_ps_for_loops_3)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_while_1 = ['Rocket launched!'];
</script>
<dialog id="ps_while_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">While Loop: The Countdown</h3>
    <p class="py-4">
      What is the <b>final</b> output printed by this script?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>count = 3
while count > 0:
    print("T-minus " + count)
    count = count - 1
endwhile
print("Rocket launched!")</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_while_1_in" placeholder="Last printed line...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_while_1_in', answers_ps_while_1)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_while_2 = ['25', '25.0', 'twenty five', 'twenty-five'];
</script>
<dialog id="ps_while_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">While Loop: The Accumulator</h3>
    <p class="py-4">
      What is the value of <b>total</b> when the loop finishes?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>total = 1
while total < 20:
    total = total * 5
endwhile
print(total)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_while_2_in" placeholder="Enter number...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_while_2_in', answers_ps_while_2)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_while_3 = ['80'];
</script>
<dialog id="ps_while_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">While Loop: Charging Logic</h3>
    <p class="py-4">
      What is the <b>final value</b> of <code>charge</code> when the loop finishes?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>charge = 20
is_plugged_in = True

while charge < 80:
    charge = charge + 30
    if charge > 100:
        is_plugged_in = False
    endif
endwhile
print(charge)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_while_3_in" placeholder="Enter final number...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_while_3_in', answers_ps_while_3)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_until_1 = ['21'];
</script>
<dialog id="ps_until_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Do...Until: Post-Test Logic</h3>
    <p class="py-4">
      In a <code>do...until</code> loop, the code runs <b>before</b> checking the condition. What is the value of <b>score</b>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>score = 6
do
    score = score + 3
until score >= 20
print(score)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_until_1_in" placeholder="Resulting score...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_until_1_in', answers_ps_until_1)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_until_2 = ['22'];
</script>
<dialog id="ps_until_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Do...Until: Iteration Tracking</h3>
    <p class="py-4">
      How many degrees is the <b>temp</b> when the loop finally stops?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>temp = 18
do
    temp = temp + 2
until temp >= 21
print(temp)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_until_2_in" placeholder="Final temp...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_until_2_in', answers_ps_until_2)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_sub_1 = ['30'];
</script>
<dialog id="ps_sub_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Sub-routines: Function Returns</h3>
    <p class="py-4">
      What is the final value of <b>result</b>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>function calculate(num)
    return num * 3
endfunction

x = 10
result = calculate(x)
print(result)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_sub_1_in" placeholder="Enter result...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_sub_1_in', answers_ps_sub_1)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_sub_2 = ['50'];
</script>
<dialog id="ps_sub_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Sub-routines: Variable Scope</h3>
    <p class="py-4">
      What value is printed for <b>score</b> at the end?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>score = 50

procedure updateScore(points)
    score = points + 10
endprocedure

updateScore(100)
print(score)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_sub_2_in" placeholder="Enter score...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_sub_2_in', answers_ps_sub_2)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_sub_3 = ['11'];
</script>
<dialog id="ps_sub_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Sub-routines: Nested Calls</h3>
    <p class="py-4">
      What is the output of <code>finalValue(5)</code>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>function double(n)
    return n * 2
endfunction

function finalValue(n)
    return double(n) + 1
endfunction

print(finalValue(5))</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_sub_3_in" placeholder="Enter value...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_sub_3_in', answers_ps_sub_3)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_sub_4 = ['Pass'];
</script>
<dialog id="ps_sub_4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Sub-routines: Logic Check</h3>
    <p class="py-4">
      What is the output of <code>checkLevel(85)</code>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>function checkLevel(xp)
    if xp > 80 then
        return "Pass"
    else
        return "Fail"
    endif
endfunction

print(checkLevel(85))</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_sub_4_in" placeholder="Enter string...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_sub_4_in', answers_ps_sub_4)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_sub_5 = ['110'];
</script>
<dialog id="ps_sub_5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Sub-routines: Variable Scope 2</h3>
    <p class="py-4">
      What value is printed for <b>score</b> at the end?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>score = 50

procedure updateScore(points)
    global score = points + 10
endprocedure

updateScore(100)
print(score)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_sub_5_in" placeholder="Enter score...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_sub_5_in', answers_ps_sub_5)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_string_1 = ['Secu'];
</script>
<dialog id="ps_string_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">String Handling: Substrings</h3>
    <p class="py-4">
      What is the output of the following code? Remember: <code>.substring(x, i)</code> starts at index <b>x</b> and extracts 
      <b>i</b> characters from the string.
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>word = "CyberSecurity"
result = word.substring(5, 4)
print(result)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_1_in" placeholder="Enter output...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_1_in', answers_ps_string_1)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_string_2 = ['AYsky'];
</script>
<dialog id="ps_string_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Sub-routines & String Methods</h3>
    <p class="py-4">
      What is the return value of <code>generateID("Skylar", "Gray")</code>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>function generateID(first, last)
    part1 = first.left(3)
    part2 = last.right(2)
    return part2.upper + part1.lower
endfunction</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_2_in" placeholder="Enter return value...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_2_in', answers_ps_string_2)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_string_3 = ['Valid: X1200'];
</script>
<dialog id="ps_string_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Iterative String Building</h3>
    <p class="py-4">
      What is the final output of this script? Pay close attention to the <code>.right(2)</code> check.
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>code = "X12"
while code.length < 5:
    code = code + "0"
endwhile

if code.right(2) == "00":
    print("Valid: " + code)
else:
    print("Invalid")
endif</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_3_in" placeholder="Enter printed string...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_3_in', answers_ps_string_3)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_string_4 = ['D'];
</script>
<dialog id="ps_string_4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">ASCII Conversion</h3>
    <p class="py-4">
      Determine the output. (Given: <code>ASC("A")</code> is 65, <code>ASC("B")</code> is 66).
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>char1 = "B"
val = ASC(char1) + 2
result = CHR(val)
print(result)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_4_in" placeholder="Enter single character...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_4_in', answers_ps_string_4)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_string_5 = ['2'];
</script>
<dialog id="ps_string_5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Iteration & Case Sensitivity</h3>
    <p class="py-4">
      How many times is the letter "e" printed in this loop? 
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>sentence = "LevelUp"
count = 0
for i = 0 to sentence.length - 1
    char = sentence.substring(i, 1)
    if char.lower == "e" then
        count = count + 1
    endif
next i
print(count)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_5_in" placeholder="Enter count...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_5_in', answers_ps_string_5)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_string_6 = ['MAET'];
</script>
<dialog id="ps_string_6" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">String Manipulation</h3>
    <p class="py-4">
      What is the final value of <b>newString</b>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>word = "TEAM"
newString = ""
for i = 0 to 3
    newString = word.substring(i, 1) + newString
next i
print(newString)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_6_in" placeholder="Enter string...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_6_in', answers_ps_string_6)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_string_7 = ['Pala'];
</script>
<dialog id="ps_string_7" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Do...Until: String Parsing</h3>
    <p class="py-4">
      What is the final value of <b>buffer</b>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>data = "Pala-Remzi Was Known for his kind heart and bravery."
buffer = ""
i = 0
do
    char = data.substring(i, 1)
    if char != "-":
        buffer = buffer + char
    endif
    i = i + 1
until char == "-"
print(buffer)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_7_in" placeholder="Enter string...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_7_in', answers_ps_string_7)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_string_8 = ['Coe'];
</script>
<dialog id="ps_string_8" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Left & Right Methods</h3>
    <p class="py-4">
      What will the following code print?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>phrase = "Code"
if phrase.length > 5:
    print(phrase.upper)
else:
    print(phrase.left(2) + phrase.right(1))</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_string_8_in" placeholder="Enter output...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_string_8_in', answers_ps_string_8)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_array_1 = ['Green'];
</script>
<dialog id="ps_array_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Arrays: 0-Indexing</h3>
    <p class="py-4">
      What is the output of the following code?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>array colours = ["Blue", "Pink", "Green", "Yellow", "Red"]
print(colours[2])</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_array_1_in" placeholder="Enter color...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_array_1_in', answers_ps_array_1)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_array_2 = ['Peter'];
</script>
<dialog id="ps_array_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Arrays: Assignment</h3>
    <p class="py-4">
      What is the value of <code>names[1]</code> at the end of this script?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>array names = ["Aria", "Ben", "Caleb"]
names[0] = "muhammad"
names[1] = "Peter"
names[2] = names[0]
print(names[1])</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_array_2_in" placeholder="Enter name...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_array_2_in', answers_ps_array_2)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_array_3 = ['Pawn'];
</script>
<dialog id="ps_array_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">2D Arrays: Coordinates</h3>
    <p class="py-4">
      What is the output of the following code?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>array board[3,3]
board[0,0] = "Rook"
board[1,0] = "Pawn"
board[0,1] = "Knight"

print(board[1,0])</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_array_3_in" placeholder="Enter value...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_array_3_in', answers_ps_array_3)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_array_4 = ['12'];
</script>
<dialog id="ps_array_4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Arrays: Iteration</h3>
    <p class="py-4">
      What is the final value of <b>total</b>?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>array scores = [2, 4, 6]
total = 0
for i = 0 to 2
    total = total + scores[i]
next i
print(total)</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_array_4_in" placeholder="Enter total...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_array_4_in', answers_ps_array_4)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_array_5 = ['1'];
</script>
<dialog id="ps_array_5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">2D Arrays: Logic Search</h3>
    <p class="py-4">
      How many times is <b>"Target Found"</b> printed?
      <div class="alert bg-base-300 border-none mt-4">
        <span class="text-white"><pre><code>array grid[2,2]
grid[0,0] = 5
grid[0,1] = 10
grid[1,0] = 10
grid[1,1] = 5

for row = 0 to 1
    if grid[row, 1] == 5 then
        print("Target Found")
    endif
next row</code></pre></span>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_array_5_in" placeholder="Enter count...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_array_5_in', answers_ps_array_5)">Check Answer</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_file_handling_1 = ['Admin'];
</script>
<dialog id="ps_file_handling_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">File Handling: readLine</h3>
    <p class="py-4">What is the output of the code? Check the file tab to see the content.</p>
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-lift">
      <input type="radio" name="my_tabs_file_handling_1" class="tab" aria-label='🧑🏽‍💻 pseudocode' checked="checked" />
      <div class="tab-content bg-base-300 border-base-300 p-6">
        <pre class="text-white"><code>myFile = open("user.txt")
line = myFile.readLine()
print(line)
myFile.close()</code></pre>
      </div>

      <input type="radio" name="my_tabs_file_handling_1" class="tab" aria-label="📄 user.txt"  />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <pre class="text-info"><code>Admin
Password123
Guest</code></pre>
      </div>
    </div>

    <div class="join mt-4">
      <input type="text" class="input join-item" id="ps_file_handling_1_in" placeholder="Output?">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_file_handling_1_in', answers_ps_file_handling_1)">Check</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_file_handling_2 = ['80'];
</script>
<dialog id="ps_file_handling_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">File Handling: readLine</h3>
    <p class="py-4">What is the output of the code? Check the file tab to see the content.</p>
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-lift">
      <input type="radio" name="my_tabs_file_handling_2" class="tab" aria-label='🧑🏽‍💻 pseudocode' checked="checked" />
      <div class="tab-content bg-base-300 border-base-300 p-6">
        <pre class="text-white"><code>f = open("scores.txt")
temp = f.readLine()
score = f.readLine()
f.close()
print(score)</code></pre>
      </div>

      <input type="radio" name="my_tabs_file_handling_2" class="tab" aria-label="📄 scores.txt"  />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <pre class="text-info"><code>100
80
45</code></pre>
      </div>
    </div>

    <div class="join mt-4">
      <input type="text" class="input join-item" id="ps_file_handling_2_in" placeholder="Output?">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_file_handling_2_in', answers_ps_file_handling_2)">Check</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_file_handling_3 = ['Data saved successfully'];
</script>
<dialog id="ps_file_handling_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">File Handling: Loops</h3>
    <p class="py-4">What is the output of the code? Check the file tab to see the content.</p>
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-lift">
      <input type="radio" name="my_tabs_file_handling_3" class="tab" aria-label='🧑🏽‍💻 pseudocode' checked="checked" />
      <div class="tab-content bg-base-300 border-base-300 p-6">
        <pre class="text-white"><code>count = 0
file = open("data.txt")
while NOT file.endOfFile()
    line = file.readLine()
    count = count + 1
endwhile
print(count)</code></pre>
      </div>

      <input type="radio" name="my_tabs_file_handling_3" class="tab" aria-label="📄 data.txt"  />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <pre class="text-info"><code>Apple
Banana
Cherry</code></pre>
      </div>
    </div>

    <div class="join mt-4">
      <input type="text" class="input join-item" id="ps_file_handling_3_in" placeholder="Output?">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_file_handling_3_in', answers_ps_file_handling_3)">Check</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>

<script>
  const answers_ps_file_handling_4 = ['20'];
</script>
<dialog id="ps_file_handling_4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">File Handling: Loops</h3>
    <p class="py-4">What is the output of the code? Check the file tab to see the content.</p>
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-lift">
      <input type="radio" name="my_tabs_file_handling_4" class="tab" aria-label='🧑🏽‍💻 pseudocode' checked="checked" />
      <div class="tab-content bg-base-300 border-base-300 p-6">
        <pre class="text-white"><code>val = 10
f = open("log.txt")
f.writeLine(val)
f.writeLine(val * 2)
f.close()</code></pre>
      </div>

      <input type="radio" name="my_tabs_file_handling_4" class="tab" aria-label="📄 log.txt"  />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        (New File)
      </div>
    </div>

    <div class="join mt-4">
      <input type="text" class="input join-item" id="ps_file_handling_4_in" placeholder="Output?">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_file_handling_4_in', answers_ps_file_handling_4)">Check</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>


<script>
  const answers_ps_file_handling_5 = ['Found'];
</script>
<dialog id="ps_file_handling_5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">File Handling: Loops</h3>
    <p class="py-4">What is the output of the code? Check the file tab to see the content.</p>
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-lift">
      <input type="radio" name="my_tabs_file_handling_5" class="tab" aria-label='🧑🏽‍💻 pseudocode' checked="checked" />
      <div class="tab-content bg-base-300 border-base-300 p-6">
        <pre class="text-white"><code>status = "Not Found"
f = open("inv.txt")
while NOT f.endOfFile()
    if f.readLine() == "CPU" then
        status = "Found"
    endif
endwhile
print(status)</code></pre>
      </div>

      <input type="radio" name="my_tabs_file_handling_5" class="tab" aria-label="📄 inv.txt"  />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <pre class="text-info"><code>RAM, GPU, CPU</code></pre>
      </div>
    </div>

    <div class="join mt-4">
      <input type="text" class="input join-item" id="ps_file_handling_5_in" placeholder="Output?">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_file_handling_5_in', answers_ps_file_handling_5)">Check</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>