
<dialog id="ps_output1_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Output 1</h3>
    <p class="">Outputting to the screen is done with the <code>print</code> command.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print("Hello, World!")</code></pre></span>
      </div>
    </div>

    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Hello, World!</span>
      </div>
    </div>

    <p class="">Key points:</p>
    <ul class="list-disc px-2">
      <li>The <code class="text-primary">print</code> function is used to output text to the screen.</li>
      <li>Text to be printed should be enclosed in quotes.</li>
      <li><code class="text-primary">print</code> is a function. Functions can take more than arguments by using a comma eg:<br><pre><code style="margin-left: 2rem;">print("Hello", "World!")</code></pre></li>
    </ul>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_output2_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Output 2</h3>
    <p class=""><code class="text-primary">print</code> is a function. Functions can take more than one argument by using a comma.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print("Hello",2, "you.")</code></pre></span>
      </div>
    </div>

    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Hello 2 you.</span>
      </div>
    </div>
    
    <div role="alert" class="alert alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Passing multiple arguments negates the need for casting</span>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_var_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="">Variables are used to store data in a program.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span><pre><code>variable_name = value
name = "Alice"
age = 30
score = 100</code></pre></span>
      </div>
    </div>
    <p class="">Key points:</p>
    <ul class="list-disc px-2">
      <li>The <code class="text-primary">=</code> operator is used to assign a value to a variable.</li>
      <li>Variable names cannot have spaces. You can use an underscore if the name has 2 or more words eg:<br><pre><code style="margin-left: 2rem;">shoe_size = 5</code></pre></li>
    </ul>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_var_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables 2</h3>
    <p class="">Variables can be reassigned to different values during the execution of the program.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span><pre><code>shoe_size = 5
name = "Alice"
shoe_size = 8
print(shoe_size)</code></pre></span>
      </div>
    </div>

    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">8</span>
      </div>
    </div>

    <p class="">Key points:</p>
    <ul class="list-disc px-2">
      <li>Variables can be reassigned to different values during the execution of the program.</li>
      <li>a variable can be given global scope by using the <code class="text-primary">global</code> keyword. see <button onclick="ps_sub_global_modal.showModal()" class="link link-info">Sub-routines: Global Variables</button></li>
    </ul>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_cast_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Casting Variables</h3>
    <p class="">The datatype of a variable can be changed using casting</p>
    <ul class="list-disc px-2">
      <li><code class="text-primary">str(500)</code> will cast (convert) the integer 500 to <code>"500"</code>.</li>
      <li><code class="text-primary">int("500")</code> will cast (convert) the string "500" to the integer 500.</li>
      <li><code class="text-primary">float("500.25")</code> will cast (convert) the string "500.25" to the float 500.25.</li>
    </ul>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_output3_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Output 3</h3>
    <p class="">We can join several strings together using the <code class="text-primary">+</code> operator.<br>This is called concatenation.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print("Hello" + " " + "you.")</code></pre></span>
      </div>
    </div>
    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Hello you.</span>
      </div>
    </div>

    <p class="">We can actually concatenate variables as well.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>name = "Alice"
print("Hello, " + name + "!")</code></pre></span>
      </div>
    </div>

    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Hello, Alice!</span>
      </div>
    </div>
    
    <div role="alert" class="alert alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Passing multiple arguments negates the need for casting</span>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_cast_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Casting Variables 2</h3>
    <p class="">We can join several strings together using the <code class="text-primary">+</code> operator.<br>This is called concatenation.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print("Hello" + " " + "you.")</code></pre></span>
      </div>
    </div>

    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Hello you.</span>
      </div>
    </div>

    <p class="">If we concatenate variables from different datatypes, we need to cast them to strings first.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>name = "Alice"
age = 25
print(name + " is " + str(age) + ".")</code></pre></span>
      </div>
    </div>

    <p class="">Should result in the following output:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Alice is 25.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_inp_modal1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Input and Output</h3>
    <p class="">We can use the <code>input()</code> function to get user input and the <code>print()</code> function to display output.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>name = input("What is your name? ")
print("Hello, " + name + "!")</code></pre></span>
      </div>
    </div>
    <p class="">The above code will prompt the user to enter their name and then greet them with a personalized message. For example, if the user enters "Alice", the output will be:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Hello, Alice!</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_inp_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Input and Casting</h3>
    <p class="">We can cast the result of <code>input()</code> to a different datatype if needed.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>number = int(input("Enter a number to work out the square: "))
print("The square of " + str(number) + " is " + str(number * number) + ".")</code></pre></span>
      </div>
    </div>
    <p class="">The above code will prompt the user to enter a number and then display its square. For example, if the user enters "5", the output will be:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">The square of 5 is 25.</span>
      </div>
    </div>
    <p class="">By default, the <code>input()</code> function returns a string, so we need to cast it to an integer using <code>int()</code> before performing the calculation.</p>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">String length</h3>
    <p class="">We can use the <code>.length</code> method to get the length of a string.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>string = "codefez"
print(string.length)</code></pre></span>
      </div>
    </div>
    <p class="">The above code will output the length of the string "codefez", which is 7. For example, the output will be:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">7</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">String Indexing</h3>
    <p class="">We can use indexing to access individual characters in a string. With pseudocode this is done by using the 
      substring method.
      <br>The first argument given as a parameter is the starting index, and the second argument is the number of characters 
      to extract beginning from the index position.
    </p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>string = "codefez"
print(string.substring(0))
print(string.substring(4,3))</code></pre></span>
      </div>
    </div>
    <p class="">The above code will output the first character of the string "codefez" and then the characters from index 4 to 6. For example, the output will be:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">c <br>
fez</span>
      </div>
    </div>
    <div class="alert alert-info">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <span><b>Note:</b>The substring method second argument differs from most programming languages such as Python, where the second 
        argument represents the ending index.
      </span>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Substring, .left() and .right()</h3>
    <p class="">OCR pseudocode includes string methods for extracting part of a string.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>word = "codefez"
print(word.substring(1, 3))
print(word.left(4))
print(word.right(3))</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">ode <br>
code <br>
fez</span>
      </div>
    </div>
    <ul class="list-disc px-2">
      <li><code class="text-primary">substring(start, length)</code> starts at an index and takes a number of characters.</li>
      <li><code class="text-primary">left(n)</code> returns the first <code>n</code> characters.</li>
      <li><code class="text-primary">right(n)</code> returns the last <code>n</code> characters.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Uppercase</h3>
    <p class="">The <code class="text-primary">upper()</code> method converts all letters in a string to uppercase.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>name = "CodeFez"
print(name.upper())</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">CODEFEZ</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Lowercase</h3>
    <p class="">The <code class="text-primary">lower()</code> method converts all letters in a string to lowercase.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>name = "CodeFez"
print(name.lower())</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">codefez</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal6" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">ASC()</h3>
    <p class="">The <code class="text-primary">ASC()</code> function returns the ASCII value of a character.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print(ASC("A"))
print(ASC("a"))</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">65 <br>
97</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_string_modal7" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">CHR()</h3>
    <p class="">The <code class="text-primary">CHR()</code> function converts an ASCII value into its matching character.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print(CHR(65))
print(CHR(97))</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">A <br>
a</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_for_modal1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">for loops</h3>
    <p class="">We can use for loops to repeat a block of code a specific number of times.</p>
    <p>This is known as a counter-controlled loop because we use it when we know the number of iterations in advance.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>for i=1 to 5
    print(i)</code></pre></span>
      </div>
    </div>
    <p class="">The above code will repeat the print statement 5 times. For example, the output will be:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">1 <br>
2 <br>
3 <br>
4 <br>
5</span>
      </div>
    </div>
    <p class="">The variable <code>i</code> is called the loop counter. It is initialized to 1 and incremented by 1 each time the loop executes, taking on the values from 1 to 5 during the execution of the <code>for</code> loop.<br>It is also known as a local variable because it only exists within the scope of the loop. It cannot be accessed outside of the loop.</p>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_for_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">for loops</h3>
    <p class="">We can use a for loop to iterate over each character of a string.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>string = "codefez"
for i=1 to string.length
    print(string[i])</code></pre></span>
      </div>
    </div>
    <p class="">The above code will repeat the print statement for each character in the string. For example, the output will be:</p>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">c <br> 
o <br>
d <br>
e <br>
f <br>
e <br>
z</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_while_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">while loops</h3>
    <p class="">A while loop is condition-controlled. The condition is checked before each loop iteration.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>while answer != "Correct"
    answer = input("New answer")
endwhile</code></pre></span>
      </div>
    </div>

    <p class="">This loop continues until the user inputs the string <code>"Correct"</code>.</p>
    <div class="alert bg-warning border-none">
      <div>
        <span class="text-white">The condition is checked first. If it is false at the start, the loop does not run.</span>
      </div>
    </div>

    <p class="">Key points:</p>
    <ul class="list-disc px-2">
      <li><code class="text-primary">while ... endwhile</code> defines the loop block.</li>
      <li>This is used when the number of repetitions is not known in advance.</li>
      <li>The condition is checked before entering the loop body each time.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_do_until_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">do...until loops</h3>
    <p class="">A do-until loop is condition-controlled, but it checks the condition after the loop body runs.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>do
    answer = input("New answer")
until answer == "Correct"</code></pre></span>
      </div>
    </div>

    <p class="">This loop continues until the user inputs the string <code>"Correct"</code>.</p>
    <div class="alert bg-warning border-none">
      <div>
        <span class="text-white">The loop runs once before the condition check is carried out.</span>
      </div>
    </div>

    <p class="">Key points:</p>
    <ul class="list-disc px-2">
      <li><code class="text-primary">do ... until ...</code> defines the loop.</li>
      <li>This is useful when the loop must execute at least once.</li>
      <li>The condition is checked at the end of each iteration.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_array_intro_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">arrays: storing multiple items</h3>
    <p class="">An array is a data structure used to store more than one item under one variable name.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>scores = [72, 68, 91, 84]
print(scores)</code></pre></span>
      </div>
    </div>
    <p class="">This keeps related values together in a single structure, which makes data easier to process.</p>
    <ul class="list-disc px-2">
      <li>Use an array when you need to store many values of the same type.</li>
      <li>Items are stored in a fixed order.</li>
      <li>Each item can be accessed by its index position.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_array_index_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">arrays: indexing items</h3>
    <p class="">Each item in an array has an index. The index is used to read or update one specific item.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>scores = [72, 68, 91, 84]
print(scores[0])
scores[1] = 70
print(scores[1])</code></pre></span>
      </div>
    </div>

    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">In OCR-style pseudocode, indexing starts at 0, so <code>scores[0]</code> is the first item.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_array_2d_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">2D arrays</h3>
    <p class="">A 2D array stores data in rows and columns (an array of arrays).</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>seats = [["A1", "A2", "A3"],
         ["B1", "B2", "B3"]]

print(seats[1][2])</code></pre></span>
      </div>
    </div>

    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white"><code>seats[row][column]</code> means row index first, then column index.</span>
      </div>
    </div>

    <p class="">2D arrays are useful for grids, boards, timetables, and tables of values.</p>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_sub_procedure_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">sub-routines: procedures</h3>
    <p class="">A procedure is a named block of code that performs a task. It does not return a value.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>procedure showMenu()
    print("1. Play")
    print("2. Exit")
endprocedure

showMenu()</code></pre></span>
      </div>
    </div>
    <ul class="list-disc px-2">
      <li>Use a procedure to avoid repeating common steps.</li>
      <li>Call the procedure by its name.</li>
      <li>Procedures improve readability and structure.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_sub_function_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">sub-routines: functions</h3>
    <p class="">A function is a sub-routine that returns a value to the line of code that called it.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>function doubleNumber(n)
    return n * 2
endfunction

result = doubleNumber(6)
print(result)</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">The function call gives back a value, so it can be stored in a variable.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_sub_params_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">sub-routines: parameters</h3>
    <p class="">Parameters allow values to be passed into procedures or functions as arguments.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>procedure greet(name, yearGroup)
    print("Hello " + name + " from Year " + yearGroup)
endprocedure

greet("Ava", "10")</code></pre></span>
      </div>
    </div>
    <ul class="list-disc px-2">
      <li><code class="text-primary">name</code> and <code class="text-primary">yearGroup</code> are parameters.</li>
      <li><code class="text-primary">"Ava"</code> and <code class="text-primary">"10"</code> are arguments.</li>
      <li>Arguments are matched to parameters by position.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_sub_global_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">sub-routines: global variables</h3>
    <p class="">By default, variables declared inside a subroutine are <strong>local</strong> — they only exist within that subroutine. Use the <code class="text-primary">global</code> keyword to access and modify a variable that was declared outside.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>global score = 0

procedure addPoint()
    global score
    score = score + 1
endprocedure

addPoint()
print(score)</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div><span class="text-white">1</span></div>
    </div>
    <ul class="list-disc px-2">
      <li><code class="text-primary">global score = 0</code> declares <code class="text-primary">score</code> as a global variable.</li>
      <li>Inside the procedure, <code class="text-primary">global score</code> tells the subroutine to use the global version.</li>
      <li>Without the <code class="text-primary">global</code> keyword, <code class="text-primary">score</code> inside the procedure would be a separate local variable.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_file_read_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">file handling: reading a file</h3>
    <p class="">To read data from a file, open the file, read from it, then close it when you are finished.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>myFile = open("user.txt")
line = myFile.readLine()
print(line)
myFile.close()</code></pre></span>
      </div>
    </div>
    <ul class="list-disc px-2">
      <li><code class="text-primary">open()</code> opens the file.</li>
      <li><code class="text-primary">readLine()</code> reads the next line from the file.</li>
      <li><code class="text-primary">close()</code> closes the file when finished.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_file_write_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">file handling: writing to a file</h3>
    <p class="">We can write data to a file one line at a time using <code class="text-primary">writeLine()</code>.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>f = open("log.txt")
f.writeLine("Start")
f.writeLine("End")
f.close()</code></pre></span>
      </div>
    </div>

    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Each call to <code>writeLine()</code> writes one new line to the file.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_file_loop_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">file handling: looping through a file</h3>
    <p class="">A common pattern is to loop through a file until the end is reached.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>count = 0
file = open("data.txt")
while NOT file.endOfFile()
    line = file.readLine()
    count = count + 1
endwhile
file.close()
print(count)</code></pre></span>
      </div>
    </div>
    <ul class="list-disc px-2">
      <li><code class="text-primary">endOfFile()</code> checks whether there is any data left to read.</li>
      <li>This pattern is useful for counting, searching, or processing every line.</li>
      <li>Close the file after the loop has finished.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_operators_modal1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Operators</h3>
    <p class="">We can use various operators to perform operations on variables.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print(5 + 3)   // Addition  <br>
print(5 - 3)   // Subtraction <br>
print(5 * 3)   // Multiplication <br>
print(5 / 3)   // Division <br>
print(5 MOD 3)   // Modulus (result only returns remainder) <br>
print(5 DIV 3)   // Integer division (result without a remainder) <br>
print(5 ^ 3)   // Exponentiation (5 to the power of 3)</code></pre></span>
      </div>
    </div>

    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">8 <br>
2 <br>
15 <br>
1.6666666666666667 <br>
2 <br>
1 <br>
125
      </span>
      </div>
    </div>

    <div class="alert alert-warning border-none">
      <div>
        <span class="">Note: The <code class="BrassMonoFont text-primary">^</code> operator is used as the BITWISE XOR operator in Python. Although OCR reference language has many similarities, Python uses the <code class="BrassMonoFont text-primary">**</code> operator for exponentiation.</span>
      </div>
  </div>

  </div>

  

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_operators_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Comparison Operators</h3>
    <p class="">We use various operators to compare values.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print(5 == 3)   // Equal to  <br>
print(5 != 3)   // Not equal to <br>
print(5 > 3)    // Greater than <br>
print(5 < 3)    // Less than <br>
print(5 >= 3)   // Greater than or equal to <br>
print(5 <= 3)   // Less than or equal to 

a= 5
b = 3
if a > 3 AND b < 4
    print(True)
else
    print(False)
</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">True <br>
False <br>
True <br>
False <br>
True <br>
False <br>
True
</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_operators_modal3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Boolean Operators</h3>
    <p class="">We use various operators to perform boolean operations.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>print(True AND False)  // --> False <br>
print(True OR False)   // --> True <br>
print(NOT True)        // --> False

a = 5
b = 3
print(a != b)  // True <br>
print(a > 2 AND b < 4)  // True AND True -> True <br>
print(a > 2 OR b > 4)   // True OR False -> True <br>
print(NOT (a > 2 AND b < 4))  // NOT (True AND True) -> NOT True -> False
</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">False <br>
True <br>
False <br>
True <br>
True <br>
True <br>
False 

</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_if_modal1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">If Statements</h3>
    <p class="">If statements allow us to execute code based on certain conditions. <br>
    We can use comparison operators to define these conditions. See <button class="btn btn-sm btn-primary" onclick="document.getElementById('ps_operators_modal2').showModal();">Comparison Operators</button>.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>password = "c0d£f£z"
if len(password) < 8 then
    print("Password is less than 8 characters long.")
endif
</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">Password is less than 8 characters long.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

  <dialog id="ps_if_modal2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">If Statements 2</h3>
    <p class="">We can use boolean operators to combine multiple conditions in an if statement. See <button class="btn btn-sm btn-primary" onclick="document.getElementById('ps_operators_modal3').showModal();">Boolean Operators</button>.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>age = 25
if age >= 18 AND age < 68 then
    print("You are of working age.")
else
    print("You are not of working age.")
endif
</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">You are of working age.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_if_modal3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">If Statements 3</h3>
    <p class="">We can use <code>elseif</code> statements to combine multiple conditions in an if statement. <br></p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>age = 25
if age >= 18 AND age < 68 then
    print("You are of working age.")
elseif age >= 68 then
    print("You are of retirement age.")
else
    print("You are not of working age.")
endif
</code></pre></span>
      </div>
    </div>
    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">You are of working age.</span>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="ps_case_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Case-Switch Selection</h3>
    <p class="">A case statement is used when one variable or expression can match several different fixed values.</p>
    <div class="alert bg-base-300 border-none">
      <div>
        <span class="text-white"><pre><code>grade = "B"

switch grade of
    "A": print("Excellent")
    "B": print("Good")
    "C": print("Pass")
    default: print("Keep trying")
endswitch</code></pre></span>
      </div>
    </div>

    <div class="alert bg-neutral border-none">
      <div>
        <span class="text-white">This would output: Good</span>
      </div>
    </div>

    <ul class="list-disc px-2">
      <li>Use <code class="text-primary">switch ... of</code> when checking one value against many options.</li>
      <li>Each branch runs only if its value matches.</li>
      <li><code class="text-primary">default</code> is used if no other case matches.</li>
    </ul>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

