
<dialog id="output1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello123")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output1_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output1_in', 'Hello123')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello 12 3")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output2_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output2_in', 'Hello 12 3')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello 123")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output3_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output3_in', 'Hello 123')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Hello", 123)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output4_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output4_in', 'Hello 123')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="output5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello World!</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>print("Code", "Fez", "is", "awesome")</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="output5_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('output5_in', 'Code Fez is awesome')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="variables1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>name = "CodeFez"
print(name)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables1_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables1_in', 'CodeFez')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="variables2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>name = "CodeFez"
adjective = "Cool!"
print(name + " " + adjective)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables2_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables2_in', 'CodeFez Cool!')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="variables3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      What would the output of the following pseudocode be?
      <br>
      <pre><code>name = "CodeFez"
num = "4"
string = "eva!"
print(name + " " + num + " " + string)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables3_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables3_in', 'CodeFez 4 eva!')">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>const answers_variables4 = ['print(name + " " + str(num) + " " + string)', "print(name + ' ' + str(num) + ' ' + string)"];</script>

<dialog id="variables4" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      The output line below needs correcting. Can you spot the error and fix it?
      <br>
      <pre><code>name = "CodeFez"
num = 4
string = "eva!"
print(name + " " + num + " " + string)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables4_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables4_in', answers_variables4)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
    const answers_variables5 = ['print(string + int(num) + num2 + name + string2)'];
</script>
<dialog id="variables5" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="py-4">
      The output line below needs correcting. Can you spot the error and fix it?
      <br>
      <pre><code>name = "CodeFez"
num = 91
num2 = "1! "
string = "Somebody call "
string2 = " is too cool!"
print(string + int(num) + num2 + name + string2)</code></pre>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="variables5_in" placeholder="Enter your answer here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('variables5_in', answers_variables5)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_if_1 = ['3 x 5 = 15'];
</script>
<dialog id="ps_if_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">If Statements</h3>
    <p class="py-4">
      What will be the result of the output from this code?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>age = 15
if age > 18
   print("You are an adult.")
else
   print("You are not an adult.")
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_if_1_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_if_1_in', answers_ps_if_1)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


<script>
  const answers_ps_for_loops_1 = ['for i=0 to 2', 'for i=1 to 3'];
</script>
<dialog id="ps_for_loops_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">For Loops</h3>
    <p class="py-4">
      One of the lines line below needs correcting. Can you spot the error and fix it?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>print("The wheels on the bus go")
for i=0 to 5
  print("round and round")
next i
</code></pre>
        </div>
      </div>
      <div class="alert bg-neutral border-none">
            <div>
              <span class="text-white">The wheels on the bus go <br>
round and round <br>
round and round <br>
round and round
      </span>
      </div>
    </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_for_loops_1_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_for_loops_1_in', answers_ps_for_loops_1)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
  const answers_ps_for_loops_2 = ['for i=0 to 1', 'for i=1 to 2'];
</script>
<dialog id="ps_for_loops_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">For Loops</h3>
    <p class="py-4">
      One of the lines line below needs correcting. Can you spot the error and fix it?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>for i=1 to i=4
  print("The wheels on the bus go")
  for i=0 to 2
    print("round and round")
  next i
next i
</code></pre>
        </div>
      </div>
      <div class="alert bg-neutral border-none">
            <div>
              <span class="text-white">The wheels on the bus go <br>
round and round <br>
round and round <br>
round and round <br>
The wheels on the bus go <br>
round and round <br>
round and round <br>
round and round
      </span>
      </div>
    </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_for_loops_2_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_for_loops_2_in', answers_ps_for_loops_2)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
  const answers_ps_for_loops_3 = ['3 x 5 = 15'];
</script>
<dialog id="ps_for_loops_3" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">For Loops</h3>
    <p class="py-4">
      What will be the result of the last output from this code?
      <br>
      <div class="alert bg-base-300 border-none">
        <div>
          <span class="text-white"><pre><code>for i=1 to i=3
  print(i + str(" x 5 = ") + i*5)
next i
</code></pre>
        </div>
      </div>
    </p>
    <div class="join">
      <input type="text" class="input join-item" id="ps_for_loops_3_in" placeholder="Enter the corrected line here...">
      <button class="btn btn-primary join-item" onclick="checkAnswer('ps_for_loops_3_in', answers_ps_for_loops_3)">Check Answer</button>
    </div>
    
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>