
<dialog id="ps_var_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Variables</h3>
    <p class="">Variables are used to store data in a program.
        <br>
        <pre class="bg-base-200"><code>variable_name = value</code></pre>
        
    </p>
    <p class="">
        There are some golden rules when assigning variables <br>
        <ul class="list-decimal px-2">
            <li>Variable names cannot take the name of a pseudocode keyword such as <code class="text-accent">print</code></li>
            <li>The name goes on the left ⬅ & the value goes on the right ➡ of the <code class="text-primary">=</code> operator </li>
            <li>Variable names cannot have spaces.</li>
        </ul>
    </p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>



