{% include python_modals/count_modal.html %}
{% include python_modals/variables_modal.html %}
{% include python_modals/variables_reassign_modal.html %}
{% include python_modals/assigning_on_1_line_modal.html %}
{% include python_modals/print_modal.html %}
{% include python_modals/casting_modal.html %}
{% include python_modals/for_modal.html %}
{% include python_modals/inline_for_modal.html %}
{% include python_modals/len_modal.html %}
{% include python_modals/range_modal.html %}
{% include python_modals/int_inp_modal.html %}
{% include python_modals/input_modal.html %}
{% include python_modals/in_not_in_modal.html %}
{% include python_modals/if_else_modal.html %}
{% include python_modals/elif_modal.html %}
{% include python_modals/ternary_operators_modal.html %}
{% include python_modals/comments_modal.html %}
{% include python_modals/lower_upper_modal.html %}
{% include python_modals/while_modal.html %}
{% include python_modals/open_modal.html %}
{% include python_modals/read_modal.html %}
{% include python_modals/randint_modal.html %}
{% include python_modals/write_modal.html %}
{% include python_modals/quit_modal.html %}
{% include python_modals/index_modal.html %}
{% include python_modals/split_modal.html %}
{% include python_modals/append_modal.html %}
{% include python_modals/pop_modal.html %}
{% include python_modals/round_modal.html %}
{% include python_modals/basic_operators_modal.html %}
{% include python_modals/div_mod_operators_modal.html %}
{% include python_modals/simple_f_string_modal.html %}
{% include python_modals/sleep_modal.html %}
{% include python_modals/tuple_modal.html %}
{% include python_modals/float_input_modal.html %}
{% include python_modals/isupper_lower_modal.html %}
{% include python_modals/sorting_list_modal.html %}
{% include python_modals/clear_screen_modal.html %}
{% include python_modals/replace_modal.html %}
{% include python_modals/lists_modal.html %}
{% include python_modals/lost_modal.html %}
{% include python_modals/isdigit_modal.html %}
{% include python_modals/isalpha_modal.html %}
{% include python_modals/random_choice_modal.html %}
{% include python_modals/try_and_except_modal.html %}
{% include python_modals/random_sample_modal.html %}
{% include python_modals/procedure_modal.html %}
{% include python_modals/function_modal.html %}
{% include python_modals/math_floor_modal.html %}
{% include python_modals/math_ceil_modal.html %}
{% include python_modals/coloured_text_modal.html %}
{% include python_modals/twoD_arrays_modal.html %}
{% include python_modals/while_input_validation_modal.html %}
<!-- removed include python_modals/test_modal.html  -->