<dialog id="constants_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Constants</h3>
        <div class="modal-content py-4">
            <p class="py-2">Python doesn't enforce constants, but by convention constants are named in UPPERCASE. Use them for values that shouldn't change.</p>

            <div class="flex-start">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4"><code class="language-python">PI = 3.14159
GRAVITY = 9.81

print(PI)
print(GRAVITY)</code></pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">3.14159</pre>
                        <pre data-prefix=">">9.81</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
