<!-- Modal Start -- This is the modal you will edit itself -->
<dialog id="elif_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">elif</h3>

    <p class="py-4">
      The <code class="text-accent">elif</code> operand will execute the block of code if a given condition is met and doesn't meet the first condition.
    </p>


    <p>

      <!--    START OF PYTHON EDITOR MOCKUP WINDOW    -->
    <div class="flex-start ">
      <div class="text-xs mr-1 mb-1">
        <div class="mockup-window border bg-base-300">
          <pre class="bg-base-200 px-4">

<!-- Your Python code goes here -->
<code class="language-python">x = 2

if x > 5:
    print("x is greater than 5")
elif x > 2:
    print("x is greater than or equal to 2")
else:
    print("x is less than 2")
</code>
          </pre>
        </div>
      </div>
      <!--   END OF PYTHON EDITOR MOCKUP WINDOW    -->

      <!--   START OF OUTPUT MOCKUP WINDOW    -->
      <div class="text-xs">
        <div class="mockup-code">
          <!--  Python output goes here   -->
          <pre data-prefix=">">x is greater than or equal to 2</pre>
        </div>
      </div>
    </div>
    <!--   END OF OUTPUT MOCKUP WINDOW    -->
    </p>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
