<dialog id="function_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Function</h3>
        <p class="py-4">
            The <code class="text-accent">def</code> keyword is used to <i>define</i> a function or procedure. <br> 
            A function typically <code class="text-accent">return</code>s a value after performing a task.<br>
            This functions takes a list of item prices and returns the <code>total_price</code> after working out the tax to be added.
        </p>

        <p>

            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-0">
                            <code class="language-python">
def calculate_total_price(prices, tax_rate):
    total = sum(prices) * (1 + tax_rate)
    return total

prices = [10.0, 20.0, 30.0]  # List of item prices
tax_rate = 0.2 
total_price = calculate_total_price(prices, tax_rate)
print(f"The total price is: £{total_price:.2f}")
                           </code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code px-4">
                        <pre>The total price is: £72.00
                        </pre>
                    </div>                       
                </div>
        </p>
       
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
