<dialog id="isalpha_modal" class="modal">
    <div class="modal-box px-1">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg px-3">isalpha()</h3>
        <p class="py-4 px-3">
            The <code class="text-accent">isalpha()</code> string method will check if a variable is alphanumeric and return a 
            <code class="text-accent">True</code> or <code class="text-accent">False</code> result.
        </p>

        <!-- This paragraph contains example code and resulting output -->
        <p>
            <!-- START OF PYTHON EDITOR MOCKUP WINDOW -->
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200" style="padding-left: 1rem;">
                            <!-- Your Python code goes here -->
                            <code id="codeblock" class="language-python">
var1 = "1"
var2 = "one"
print(var1.isalpha())
print(var2.isalpha())
                            </code>
                        </pre>
                    </div>
                </div>
                <!-- END OF PYTHON EDITOR MOCKUP WINDOW -->

                <!-- START OF OUTPUT MOCKUP WINDOW -->
                <div class="text-xs">
                    <div class="mockup-code">
                        <!-- Python output goes here -->
                        <pre id="output_isalpha" class=""></pre>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                function isalpha_runCode(){
                    document.getElementById("output_isalpha").innerHTML = "False\n  True";
                }
            </script>

            <button class="btn btn-primary btn-sm" onclick="isalpha_runCode()">Run Code</button>

            <!-- END OF OUTPUT MOCKUP WINDOW -->
        </p>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>