
<dialog id="random_choice_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Random Choice</h3>
        <p class="py-4">
            The <code class="text-accent">choice</code> function uses random to chose a random item from a list
          
            
        </p>
        <p>
                        
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">import random // we have to import the random function
list = (1, 2, 3, 4) // list to chose from
print(random.choice(list)) // chooses a random choice from the list
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                       <pre data-prefix=">">3
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
