<!-- Modal Start -- This is the modal you will edit itself -->
<dialog id="randint_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!--   Modal Heading   -->
    <h3 class="font-bold text-lg">randint (from random)</h3>
    <!--   Paragraph explaining Python skill concisely   -->
    <p class="py-4">

      The <code class="text-accent">random.randint(x,y)</code> function will generate a random number from x to y.
    </p>

    <!--   This paragraph contains example code and resulting output   -->
    <p>
      <!--    START OF PYTHON EDITOR MOCKUP WINDOW    -->
    <div class="flex-start ">
      <div class="text-xs mr-1 mb-1">
        <div class="mockup-window border bg-base-300">
          <pre class="bg-base-200 px-4">
<!-- Your Python code goes here -->
            <code class="language-python">
import random
x=random.randint(3,7)
print(x)
print("This could be 3, 4, 5, 6 or 7.")
            </code>
          </pre>
        </div>
      </div>
      <!--   END OF PYTHON EDITOR MOCKUP WINDOW    -->
      <button class = "btn btn-warning" onclick = "randint()">Run</button>
      <script>
        function randint() {
          var rolypoly = Math.random() * (7 - 3) + 3;
          rolypoly = Math.round(rolypoly);
          document.getElementById("randint").innerHTML = rolypoly;
        }
      </script>
      <!--   START OF OUTPUT MOCKUP WINDOW    -->
      <div class="text-xs">
        <div class="mockup-code">
          <!--  Python output goes here   -->
          <pre data-prefix=">" id = "randint">6</pre>
          <pre data-prefix=">">This could be 3, 4, 5, 6 or 7.</pre>
        </div>
      </div>
    </div>
    <!--   END OF OUTPUT MOCKUP WINDOW    -->
    </p>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
