<script>
  function displayText_Hello() {
  var text = document.getElementById("textFieldHello");
  text.style.display = "block";
}

function displayText_World() {
  var text = document.getElementById("textFieldWorld");
  text.style.display = "block";
}

function hidden_text() {
  console.log("function called");
  setTimeout(displayText_Hello, 1000);
  setTimeout(displayText_World, 2000);
}
</script>

<!-- Modal Start -->
<dialog id="sleep_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- Modal Heading -->
    <h3 class="font-bold text-lg">sleep</h3>
    
    <!-- Explanation Paragraph -->
    <p class="py-4">
      To be able to use sleep you need to <code class="text-accent">from time import sleep</code>. Then, using the function <code class="text-accent">sleep(1)</code>, you can specify the amount of seconds within the parentheses <code class="text-accent">()</code>.
    </p>
    
    <!-- Example Code and Output -->
    <p>
      <!-- START OF PYTHON EDITOR MOCKUP WINDOW -->
      <div class="flex-start">
        <div class="text-xs mr-1 mb-1">
          <div class="mockup-window border bg-base-300">
            <pre class="bg-base-200 px-4">
<code class="language-python">
from time import sleep

sleep(1) # Waits 1 seconds
print("Hello")
sleep(1) # Waits 1 seconds
print("World")
</code>
            </pre>
          </div>
        </div>
      </div>
        <!-- END OF PYTHON EDITOR MOCKUP WINDOW -->
        
        <!-- START OF OUTPUT MOCKUP WINDOW -->
        <div class="text-xs">
          <button class="btn btn-warning" onclick="hidden_text()">run</button>
          <div class="mockup-code">
            <!-- Python output goes here -->
           <pre data-prefix=">" id="textFieldHello" style="display: none;"> Hello</pre>
           <pre data-prefix=">" id="textFieldWorld" style="display: none;"> World</pre>
        </div>
      </div>
      <!-- END OF OUTPUT MOCKUP WINDOW -->
    </p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
