<!-- Modal Start -- This is the modal you will edit itself -->
<dialog id="ternary_operators_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">Ternary operators</h3>
    

    <p class="py-1">
      Ternary operators allow you to execute an if/else statement on one line.
    </p>

    <p>
    

    <div class="flex-start ">
      <div class="text-xs mr-1 mb-1">
        <div class="mockup-window border bg-base-300">
          <pre class="bg-base-200 px-4">

<!-- Your Python code goes here -->
<code class="language-python">
  x = int(input(" "))
  print("x is equal to 4.") if x==4 else print("x is not equal to 4")
</code>
          </pre>
        </div>
      </div>
      <div style = "padding = 50px"></div>
      <!--   END OF PYTHON EDITOR MOCKUP WINDOW    -->
      <br>
      <input id="txtbox" type="text" placeholder="Type number here" class="input input-success w-full max-w-xs" />
      <button class="btn btn-success" onclick = "equalFour()">Enter</button>
      <br>
      <script>
        function equalFour() {
          var num = Number(document.getElementById("txtbox").value);
          if (num == 4) {
            document.getElementById("output_area").innerHTML = `${num} is equal to 4.`;
          } else {
            document.getElementById("output_area").innerHTML = `${num} is not equal to 4.`;
          }
        }
      </script>
      <br>
      <!--   START OF OUTPUT MOCKUP WINDOW    -->
      <div class="text-xs">
        <div class="mockup-code">
          <!--  Python output goes here   -->
          <pre id = "output_area" data-prefix=">"></pre>
        </div>
      </div>
    </div>
    <!--   END OF OUTPUT MOCKUP WINDOW    -->
    </p>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
