<dialog id="timedelta_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Timedelta</h3>
        <div class="modal-content py-4">
            <p class="py-4">
                The <code class="text-accent">timedelta</code> object in Python is used to represent a duration or difference between two 
                dates or times. We can specify the duration in terms of days, seconds, microseconds, milliseconds, minutes, hours, and weeks. 
                It is commonly used for date and time arithmetic.
            </p>
            <p>
                In the example below, you can see how long an operation takes to run by using the <code class="text-accent">timedelta</code> 
                object to calculate the difference between the start and end times.
            </p>
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">import datetime
timestamp1 = datetime.datetime.now() # start time
# some code to run
for i in range(1000000):
    pass
timestamp2 = datetime.datetime.now() # end time

duration = timestamp2 - timestamp1
print(f"Duration: {duration}")
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">                        
<pre data-prefix=">">Duration: 0:00:00.063358</pre>
                    </div>
                </div>
            </div>
            </div>
            <p class="pt-3">This task took approximately 0.063 seconds to complete.</p>
        </div>
                   
    </div>
    
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
