<dialog id="tuple_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          </form>
        <h3 class="font-bold text-lg">Tuples</h3>
        <p class="py-4">
            The <code class="text-accent">tuple</code> data structure is an immutable list which means they cannot be changed while the program is running.
        </p>
        <p>
                        
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">
    animals = ("cat", "dog", "mouse") # defining the tuple 
    print(animals[0]) # prints the first item in the tuple from 0

    animals.append("rabbit")
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">cat</pre>
                        <pre data-prefix=">" class="text-accent">AttributeError: 'tuple' object has no attribute 'append'</pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
